@use 'styles/mixins' as *;

:host {
  display: block;
  height: 100%;
}

.editor-surface {
  width: 100%;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, .06);
  @include thin-scrollbar;
}

:host:focus-within .editor-surface {
  outline: none;
}

/* editor-pane.component.scss */

:host {
  display: block;
  height: 100%;
}

.editor-surface {
  width: 100%;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, .06);
}

/* Dark theme */
:host-context(html[data-theme='dark']) .editor-surface {
  background: #1e1e1e;
  border-right-color: rgba(255, 255, 255, .12);
}