:host { display: block; height: 100%; }

.panel { height: 100%; overflow: hidden; }


/* Let the split container also fill and be allowed to shrink */
as-split {
  height: 100%;
  min-height: 0;
  
}

/* Let split areas and their immediate children stretch */
as-split-area {
    display: flex;
    min-height: 0; /* allow children to shrink/stretch */
    min-width:0;
  }
  as-split-area > * {
    flex: 1 1 auto;
    min-height: 0;
    min-width:0;
  }
  
  /* Make sure components inside areas fill */
  app-editor-pane, app-map-pane {
    display: block;
    height: 100%;
  }

  /* TEMP: visualize right panel existence */
as-split-area.panel:nth-of-type(2) { background: rgba(0,128,255,.08); }